.table {
    width: 60%;
    height: 500px;
    /* margin-bottom: 1rem; */
    color: #212529;
    margin: 30px auto;
    background-color: beige;
    border-radius: 1%;
    overflow-y: scroll;
    opacity: 0.8;
}


.c-lst .fix-buttom {
    position: fixed;
    height: 5%;
    bottom: 1%;
    left: 30%; 
    width: 50%;
    opacity: 0.8;
    color: beige;
}

.fix-buttom .space {
    margin-right: 100px;;
}